@import "tailwindcss";
@plugin "daisyui";

/* Swiper button style  */
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}

/* Product Detail  */
.product-detail .swiper-button-next,
.product-detail .swiper-button-prev {
  color: white !important;
}
.product-detail .mySwiper .swiper-slide {
  opacity: 0.4;
}
.product-detail .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
